@use 'vars' as v;
@use 'mixins' as *;
@use 'functions' as *;

.footer-container {
    background: linear-gradient(180deg, #141414 0%, #000000);
    color: v.$color-muted;
    padding: calculateRem(48px) 0 calculateRem(20px);
}

.footer-info {
    @include flex-layout(column, flex-start, flex-start, v.$f-gap-md);
    margin-bottom: calculateRem(48px);
}

.footer-brand {
    @include flex-layout(column, center, center, v.$f-gap-sm);
    text-align: center;
    width: 100%;
}

.footer-brand-link {
    display: block;
    height: calculateRem(50px);
}

.footer-logo {
    height: 100%;
    object-fit: cover;
}

.footer-brand-description {
    @include font-size(v.$f-size-small);
    margin: 0;
    color: v.$color-muted;
}

/* LINKS */

.footer-links {
    @include flex-layout(column, flex-start, center, v.$f-gap-sm-md);
}

.footer-title {
    @include font-size(v.$f-size-large);
    margin: 0;
    color: v.$color-accent;
    font-weight: v.$f-weight-bold;
    width: 100%;
}


.footer-links-list {
    @include flex-layout(column, flex-start, flex-start, v.$f-gap-sm );
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer-links-item {
    width: 100%;
}

.footer-links-item.active .footer-links-link {
    color: v.$color-primary;
    font-weight: v.$f-weight-bold;
}

.footer-links-link {
    color: v.$color-white;
    text-decoration: none;
    transition:
        color .3s ease,
        letter-spacing .3s ease;

    &:hover {
        color: v.$color-accent;
        letter-spacing: calculateRem(1px);
    }
}

.footer-contact {
    @include flex-layout(column, flex-start, center, v.$f-gap-sm-md);
}

.footer-contact-info {
    @include flex-layout(column, flex-start, stretch, v.$f-gap-sm);
    width: 100%;
}

.footer-contact-item {
    @include flex-layout(row, flex-start, flex-start, v.$f-gap-sm);
    width: 100%;
}

.footer-contact-icon {
    @include font-size(v.$f-size-medium);
    color: v.$color-primary;
}

.footer-contact-content {
    @include flex-layout(column, flex-start, flex-start, v.$f-gap-tiny );
    @include font-size(v.$f-size-small);
    margin: 0;
    color: v.$color-muted;
}

.footer-contact-text-city,
.footer-contact-text-phone,
.footer-contact-text-email {
    @include font-size(v.$f-size-small);
    color: v.$color-muted;
}

.footer-contact-text-address {
    @include font-size(v.$f-size-small);
    color: v.$color-white;
    font-weight: v.$f-weight-semi-bold;
}

.footer-social {
    @include flex-layout(row, center, center, v.$f-gap-sm );
}

.footer-social-link {
    @include font-size(v.$f-size-large);
    color: v.$color-accent;
    transition:
        transform .3s ease,
        color .3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

/* COPYRIGHT */

.footer-copyright {
    padding-top: calculateRem(20px);
    border-top: calculateRem(1px) solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

.footer-copyright-text {
    @include font-size(v.$f-size-tiny);
    margin: 0;
    color: v.$color-muted;
}

/* TABLET */

@include respond(tablet) {

    .footer-info {
        display: grid;
        grid-template-columns: 1.3fr 0.8fr 1fr;
        align-items: start;
        gap: v.$f-gap-lg;
    }

    .footer-brand-link {
        height: calculateRem(70px);
    }

    .footer-links, 
    .footer-contact {
        gap: v.$f-gap-md;
    }
}