@use 'vars' as v;
@use 'mixins' as *;
@use 'functions' as *;

.footer {
    background: linear-gradient(180deg, #141414 0%, #000000);
    color: v.$color-muted;
    padding: calculateRem(48px) 0 calculateRem(20px);
}

.footer__info {
    @include flex-layout(column, flex-start, flex-start, v.$f-gap-md);
    margin-bottom: calculateRem(48px);
}

.footer__brand {
    @include flex-layout(column, center, center, v.$f-gap-sm);
    text-align: center;
    width: 100%;
}

.footer__brand-link {
    display: block;
    height: calculateRem(50px);
}

.footer__brand-logo {
    height: 100%;
    object-fit: cover;
}

.footer__brand-description {
    font-size: v.$f-size-small;
    margin: 0;
    color: v.$color-muted;
}

/* LINKS */

.footer__nav {
    @include flex-layout(column, flex-start, center, v.$f-gap-sm-md);
}

.footer__nav-title,
.footer__contact-title {
    font-size: v.$f-size-large;
    width: 100%;
    margin: 0;
    color: v.$color-accent;
    font-weight: v.$f-weight-bold;
    line-height: v.$f-line-height-relaxed;
}

.footer__nav-list {
    @include flex-layout(column, flex-start, flex-start, v.$f-gap-sm );
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer__nav-item {
    width: 100%;
}

.footer__nav-item.active .footer__nav-link {
    color: v.$color-primary;
    font-weight: v.$f-weight-bold;
}

.footer__nav-link {
    color: v.$color-white;
    text-decoration: none;
    transition:
        color .3s ease,
        letter-spacing .3s ease;

    &:hover {
        color: v.$color-accent;
        letter-spacing: calculateRem(1px);
    }
}

.footer__contact {
    @include flex-layout(column, flex-start, center, v.$f-gap-sm-md);
}

.footer__contact-list {
    @include flex-layout(column, flex-start, stretch, v.$f-gap-sm);
    width: 100%;
}

.footer__contact-item {
    @include flex-layout(row, flex-start, flex-start, v.$f-gap-sm);
    width: 100%;
}

.footer__contact-icon {
    font-size: v.$f-size-medium;
    color: v.$color-primary;
}

.footer__contact-content {
    @include flex-layout(column, flex-start, flex-start, v.$f-gap-tiny );
    font-size: v.$f-size-small;
    margin: 0;
    color: v.$color-muted;
}

.footer__contact-city,
.footer__contact-phone,
.footer__contact-email {
    font-size: v.$f-size-small;
    color: v.$color-muted;
}

.footer__contact-address {
    font-size: v.$f-size-small;
    color: v.$color-white;
    font-weight: v.$f-weight-semi-bold;
}

.footer__social {
    @include flex-layout(row, center, center, v.$f-gap-sm );
}

.footer__social-link {
    font-size: v.$f-size-large;
    color: v.$color-accent;
    transition:
        transform .3s ease,
        color .3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.footer__social-icon {
    color: v.$color-muted;
}

/* COPYRIGHT */

.footer__bottom {
    @include flex-layout(column, center, center, v.$f-gap-tiny);
    padding-top: calculateRem(20px);
    border-top: calculateRem(1px) solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

.footer__bottom-brand, 
.footer__bottom-text {
    font-size: v.$f-size-tiny;
    margin: 0;
    color: v.$color-muted;
}

/* TABLET */

@include respond(tablet) {
    .footer__info {
        display: grid;
        grid-template-columns: 1.3fr 0.8fr 1fr;
        align-items: start;
        gap: v.$f-gap-lg;
    }

    .footer__brand-link {
        height: calculateRem(70px);
    }

    .footer__nav, 
    .footer__contact {
        gap: v.$f-gap-md;
    }
}