<footer class="container-footer">
    <div class="footer-content">
        <div class="row footer-info">
            <!-- 🧨 LOGO + DESCRIPCIÓN -->
            <div class="col-md-4 footer-brand">
                <a routerLink="/pricing">
                    <img src="logos/logoK.svg" alt="Kaboom" class="footer-logo" />
                </a>
                <p>Diversión, adrenalina y buenas vibras. Solo en Kaboom 💥</p>
            </div>

            <!-- 🎯 LINKS -->
            <div class="col-md-4 footer-links">
                <h5>Enlaces</h5>
                <ul>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">
                        <a routerLink="/home">Inicio</a>
                    </li>
                    <li routerLinkActive="active" >
                        <a routerLink="/services">Servicios</a>
                    </li>
                    <li routerLinkActive="active" >
                        <a routerLink="/pricing">Precios</a>
                    </li>
                    <li routerLinkActive="active" >
                        <a href="https://wa.me/573166912393" target="_blank" aria-label="WhatsApp">Reservas</a>
                    </li>
                </ul>
            </div>

            <!-- 📱 CONTACTO -->
            <div class="col-md-4 footer-contact">
                <h5>Contacto</h5>
                <div class="footer-contact-info">
                    <p>
                        <fa-icon [icon]="faLocation"></fa-icon> Bogotá, Colombia
                    </p>
                    <p>
                        <fa-icon [icon]="faMobile"></fa-icon>+57 316 6912393
                    </p>
                    <p>
                        <fa-icon [icon]="faEnvelope"></fa-icon> kaboom.funy@gmail.com
                    </p>
                </div>

                <!-- 🔗 Redes -->
                <div class="social">
                    <a href="https://www.tiktok.com/@kaboom.funny" target="_blank" aria-label="TikTok">
                        <fa-icon [icon]="faTiktok"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/kaboom.bogota" target="_blank" aria-label="Instagram">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://wa.me/573166912393" target="_blank" aria-label="WhatsApp">
                        <fa-icon [icon]="faWhatsapp"></fa-icon>
                    </a>
                </div>
            </div>
        </div>

        <!-- ⚖️ COPYRIGHT -->
        <div class="footer-bottom">
            <p>© 2026 Kaboom. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
