@use 'vars' as v;
@use 'mixins' as *;
@use 'functions' as *;

.gallery__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: v.$f-gap-md;
}

.gallery__item {
    @include neon-card(v.$color-secondary, v.$color-secondary, false);
    width: 100%;
    max-width: calculateRem(280px);
    height: calculateRem(200px);
    opacity: 0.8;
    border-radius: v.$f-radius-md;
    cursor: pointer;
    transition: opacity 0.3s ease;
    
    &:hover {
        opacity: 1;
    }
}

.gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: v.$f-radius-md;
}


