<nav #navbar class="navbar navbar-expand-lg navbar-dark bg-dark header">
    <div class="layout-wrapper">
        <div class="header__top">
            
            <!-- LOGO -->
            <div class="header__brand-container">
                <a class="navbar-brand header__brand" routerLink="/pricing" (click)="closeMenu()">
                    <img 
                        class="header__brand-img" 
                        src="assets/logos/logoK.svg" 
                        alt="Kaboom" 
                        loading="lazy"
                        decoding="async"
                    />
                </a>
            </div>
    
            <!-- BOTÓN MOBILE -->
            <button
                class="navbar-toggler header__toggler"
                type="button"
                (click)="toggleMenu()"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- MENÚ -->
        <div 
            class="navbar-collapse collapse header__collapse" 
            id="navbarKaboom"
            [ngbCollapse]="isMenuCollapsed">
            <div class="header__fade"
                [class.header__fade--show]="!isMenuCollapsed">
                <div class="header__nav">
                    <a class="header__link" routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">Inicio</a>
                    <a class="header__link" routerLinkActive="active" routerLink="/services" (click)="closeMenu()">Servicios</a>
                    <a class="header__link" routerLinkActive="active" routerLink="/pricing" (click)="closeMenu()">Precios</a>
                    <a class="header__link" routerLinkActive="active" routerLink="/gallery" (click)="closeMenu()">Galería</a>
    
                    <!-- BOTÓN DESTACADO -->
                     <app-button
                        text="Reservar"
                        href="https://wa.me/573166912393?text=Hola%20Kaboom,%20vi%20la%20página%20y%20quiero%20más%20información%20sobre%20los%20planes%20y%20reservas."
                        target="_blank"
                        ariaLabel="WhatsApp"
                        (click)="closeMenu()"
                     >
                     </app-button>
                </div>
            </div>
        </div>
    </div>
</nav>
