<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <div class="layout-wrapper">
        <div class="navbar-top">
            
            <!-- LOGO -->
            <div class="navbar-brand-logo-container">
                <a class="navbar-brand navbar-custom-brand" routerLink="/pricing">
                    <img class="navbar-custom-brand-img" src="logos/logoK.svg" alt="Kaboom" />
                </a>
            </div>
    
            <!-- BOTÓN MOBILE -->
            <button
                class="navbar-toggler"
                type="button"
                (click)="toggleMenu()"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- MENÚ -->
        <div 
            class="navbar-collapse collapse" 
            id="navbarKaboom"
            [ngbCollapse]="isMenuCollapsed">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/services">Servicios</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/pricing">Precios</a>
                <a class="nav-link" routerLinkActive="active" routerLink="/gallery">Galería</a>

                <!-- BOTÓN DESTACADO -->
                 <app-button
                    text="Reservar"
                    href="https://wa.me/573166912393"
                    target="_blank"
                    ariaLabel="WhatsApp"
                 >
                 </app-button>
            </div>
        </div>
    </div>
</nav>
