@use 'vars' as v;
@use 'mixins' as *;
@use 'functions' as *;

.modal-container .modal-dialog {
    padding: 0 calculateRem(16px);
}

.image-modal__header {
    display: none;
}

.image-modal__body {
    position: relative;
    padding: 0;
}

.image-modal__image {
    width: 100%;
    height: auto;
    border-radius: v.$f-radius-xxl;
    box-shadow: v.$f-shadow-soft;
}

.image-modal__link {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}