<div class="image-modal">
    <div class="image-modal__header">
        <h5 class="image-modal__title">{{ data.title }}</h5>
    </div>
    <div class="image-modal__body">
        <img 
            class="image-modal__image" 
            [src]="data.image" 
            [alt]="data.title"
            loading="lazy"
            decoding="async"
        />
        <app-button 
            class="image-modal__link" 
            variant="btn-modal" 
            href="https://wa.me/573166912393?text=Hola%20Kaboom,%20vi%20la%20página%20y%20quiero%20más%20información%20sobre%20los%20planes%20y%20reservas."
            target="_blank"
            ariaLabel="WhatsApp"
            text="Reservar">
        </app-button>
    </div>
</div>