<app-herovideo [media]="heroVideoMedia">
    <section class="section-container home">
        <div class="section-header home-hero">
            <h1 class="title">¡Tejo, tiro de hacha, bolirana y pola!</h1>
            <h2 class="subtitle">Todo en un sólo lugar de pura diversión.</h2>
        </div>
    </section>
</app-herovideo>
<section class="home-info">
    <div class="home-info__header">
        <h2 class="home-info__title">Vive la experiencia Kaboom</h2>
        <p class="home-info__description">Competencia, risas y buena energía en el mejor ambiente de Bogotá.</p>
    </div>
    <div class="home-info__grid">
        
        <!-- HORARIOS -->
        <div class="home-card home-info-card--schedules">
            <div class="home-card__header">
                <fa-icon class="home-card__icon" [icon]="faClock"></fa-icon>
                <h3 class="home-card__title">Horarios</h3>
            </div>
            <div class="home-card__body">
                <p class="home-card__text">Miércoles, Jueves y Domingos<strong>2pm a 9pm</strong></p>
                <p class="home-card__text">Viernes y Sábados<strong>2pm a 11pm</strong></p>
            </div>
            <app-button
                class="home-card__button"
                href="https://wa.me/573166912393?text=Hola%20Kaboom,%20vi%20la%20página%20y%20quiero%20más%20información%20sobre%20los%20planes%20y%20reservas."
                [icon]="faCalendarDays"
                text="Abrimos festivos"
                target="_blank">
            </app-button>
        </div>
        
        <!-- ENCUESTA -->
        <div class="home-card home-info-card--survey">
            <div class="home-card__header">
                <fa-icon class="home-card__icon" [icon]="faStar"></fa-icon>
                <h3 class="home-card__title">Tu opinión importa</h3>
            </div>
            <div class="home-card__body">
                <p class="home-card__text">Ayúdanos a mjorar tu experiencia en Kaboom.</p>
            </div>
            <app-button
                class="home-card__button"
                href="https://j9hobe1g.forms.app/mi-nuevo-formulario"
                [icon]="faClipboardQuestion"
                text="Responder encuesta"
                target="_blank">
            </app-button>
        </div>

        <!-- RESERVA -->
        <div class="home-card home-info-card--booking">
            <div class="home-card__header">
                <fa-icon class="home-card__icon" [icon]="faCalendarCheck"></fa-icon>
                <h3 class="home-card__title">Reserva ahora</h3>
            </div>
            <div class="home-card__body">
                <p class="home-card__text">Convierte tus <strong>celebraciones, eventos empresariales y fechas especiales</strong> en momentos inolvidables.</p>
            </div>
            <app-button
                class="home-card__button"
                href="https://wa.me/573166912393?text=Hola%20Kaboom,%20vi%20la%20página%20y%20quiero%20más%20información%20sobre%20los%20planes%20y%20reservas."
                [icon]="faWhatsapp"
                text="Reservar por WhatsApp"
                target="_blank">
            </app-button>
        </div>
    </div>
</section>