@use 'vars' as v;
@use 'mixins' as *;
@use 'functions' as *;

.home-description {
    @include text-style(v.$f-size-base, v.$f-weight-regular, v.$color-muted, 0);
    margin-top: v.$f-gap-md;
    line-height: v.$f-line-height-relaxed;
    text-align: center;
    .description {
        margin-bottom: 0;
    }
}

.home-info {
    margin-top: calculateRem(64px);
    padding: calculateRem(32px);
    border-radius: calculateRem(24px);
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(12px);
}

.home-info__header {
    text-align: center;
    margin-bottom: calculateRem(32px);
}
.home-info__title {
    @include font-size(v.$f-size-huge);
    color: v.$color-accent;
    margin-bottom: calculateRem(32px);
}

.home-info__description {
    color: v.$color-muted;
    margin-bottom: 0;
}

.home-info__grid {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(calculateRem(260px), 1fr));
    gap: v.$f-gap-md;
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: rgba(255,255,255,0.04);
    border: calculateRem(1px) solid rgba(255,255,255,0.08);
    padding: calculateRem(24px);
    border-radius: v.$f-radius-md;
    transition: 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

}

.home-card__title {
    color: v.$color-white;
    margin-bottom: calculateRem(16px);
}

.home-card__body {
    flex: 1;
}

.home-card__text {
    color: v.$color-muted;
}

.home-card__button {
    display: flex;
    flex-direction: column;
    margin-top: v.$f-gap-sm;
}

/* RESPONSIVE */

@include respond(tablet) {
    .home-card:last-child {
        grid-area: 2/1/3/-1;
    }
}

@include respond(laptop) {
    .home-card:last-child {
        grid-area:initial;
    }
}