@use 'sass:map';
@use 'functions' as *;
@use 'vars' as v;

//? Mixin para asignar flexbox con parámetros personalizables
@mixin flex-layout(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;  
}

//? Mixin para estilos de texto con parámetros personalizables
@mixin text-style(
  $size,
  $weight,
  $color,
  $margin-bottom: 0,
) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    margin-bottom: $margin-bottom;
}

//? Mixin para filtros de fondo borroso con soporte WebKit
@mixin backdrop-blur($radius) {
  -webkit-backdrop-filter: blur($radius);
  backdrop-filter: blur($radius);
}

//? Mixin para títulos (title) y subtítulos (subtitle)
@mixin section-titles {
  .title {
    @include text-style(
      v.$f-size-huge-small,
      v.$f-weight-bold,
      v.$color-accent,
      0
    );
    line-height: v.$f-line-height-normal;

    @include respond(tablet) {
      font-size: v.$f-size-huge;
    }
  }

  .subtitle {
    @include text-style(
      v.$f-size-base,
      v.$f-weight-medium,
      v.$color-muted,
      0
    );
    line-height: v.$f-line-height-normal;

    @include respond(tablet) {
      font-size: v.$f-size-large;
    }
  }
}

//? Mixin para las neon-cards
@mixin neon-card(
  $borderColor,
  $glowColor, 
  $hasBorder: true
) {
  background: rgba(v.$color-dark, 0.03);
  @include backdrop-blur(8px);
  @if $hasBorder {
    border: calculateRem(2px) solid rgba($borderColor, 0.12);
  } else {
    border: none;
  }
  box-shadow: 
    0 0 calculateRem(8px) rgba($glowColor, 0.28),
    0 0 calculateRem(18px) rgba($glowColor, 0.18),
    0 0 calculateRem(30px) rgba($glowColor, 0.10);
  transition: 
    transform .35s ease,
    box-shadow .35s ease,
    border-color .35s ease;
}

//? Mixin para los break point (media queries)
@mixin respond($breakpoint) {
  @if map.has-key(v.$breakpoints, $breakpoint) {
    @media (min-width: map.get(v.$breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' no existe.";
  }
}