/* _reset.scss */
/* Reinicio básico y consistente entre navegadores */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}
