@use 'functions' as *;
@use 'vars' as v;
@use 'mixins' as *;

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    padding-top: calculateRem(90px);
    background-image: url('../assets/images/backgrounds/backgroundKaboom.webp');
    background-size: cover;
    background-position: 50% 20%;
    font-family: v.$font-family-main;
    overscroll-behavior: none;
    line-height: v.$f-line-height-normal;
}

body.not-found-page {
    background: #000;
    background-image: none;
}

.layout-wrapper {
    width: 100%;
    max-width: calculateRem(1400px);
    margin-inline: auto;
    padding-inline: calculateRem(16px);
}

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: calculateRem(32px) 0 calculateRem(48px);
}

.modal-container {
    
    .modal-dialog {
        padding: 0 calculateRem(16px);
        margin: 0 auto;
    }

    .modal-content {
        background: transparent;
        border-radius: v.$f-radius-xl;
        border: none;
        overflow: hidden;
    }
} 

.section-container {
    @include flex-layout(column, flex-start, center, v.$f-gap-md);
}

.section-header {
    @include flex-layout(column, center, center, v.$f-gap-sm);
    @include section-titles;
    text-align: center;
}

/* RESPONSIVE */
@include respond(tablet) {
    body {
        background-attachment: fixed;
    }
    
    .layout-wrapper {
        padding-inline: calculateRem(24px);
    }
}

@include respond(laptop) {
    .layout-wrapper {
        padding-inline: calculateRem(32px);
    }
}