<section class="notfound-container">
    <div class="notfound-content">
        <h1 class="notfound-title">404</h1>
        <h2 class="notfound-subtitle">Página no encontrada</h2>
        <div class="notfound-image-content">
            <img class="notfound-img" src="images/notFound/notfound.webp" alt="">
        </div>
        <div class="notfound-info">
            <p><strong>Esta zona explotó</strong></p>
            <p>Parece que tomaste una ruta equivocada, pero aún puedes volver a la diversión.</p>
        </div>
        <a class="btn notfound-link" href="/home">Volver al inicio</a>
    </div>
</section>