<app-herovideo [media]="heroVideoMedia">
    <section class="section-container pricing">
        <div class="section-header pricing__header">
            <h1 class="title">Precios</h1>
            <h2 class="subtitle">
                Elige tu experiencia y prepárate para la diversión
            </h2>
        </div>

        <div class="pricing__grid">
            @for (service of services; track service.title) {
            <div class="pricing-card">
                <img class="pricing-card__image" 
                    [src]="service.image" 
                    [alt]="service.title"
                    loading="lazy"
                    decoding="async"
                />

                <!-- OVERLAY (SOLO HOVER) -->
                <div class="pricing-card__overlay">
                    <h3 class="pricing-card__title">
                        {{ service.title }}
                    </h3>
                    <p class="pricing-card__description">
                        {{ service.extra }}
                    </p>
                    @if (service.hasBooking) {
                        <app-button
                            class="pricing-card__button"
                            text="Reservar"
                            href="https://wa.me/573166912393?text=Hola%20Kaboom,%20vi%20la%20página%20y%20quiero%20más%20información%20sobre%20los%20planes%20y%20reservas."
                            target="_blank"
                        ></app-button>
                    }
                </div>
            </div>
            }
        </div>
    </section>
</app-herovideo>