@if (media) {
    <section class="section-container hero">
        <div class="hero__content">
            <ng-content></ng-content>
        </div>

        <div class="hero__media">
            <video
                class="hero__video"
                autoplay 
                muted 
                loop 
                playsinline 
                [attr.poster]="media.poster"
            >
                <source [src]="media.video" type="video/mp4" />
            </video>
        </div>
    </section>
}