<app-herovideo [media]="heroVideoMedia">
    <section class="services-container">
        <div class="services-content">
            <h1 class="title">Nuestros servicios</h1>
            <h2 class="subtitle">
                Descubre todo lo que tenemos para ofrecerte una experiencia inolvidable.
            </h2>
        </div>
    
        <div class="services-cards">
            <div class="services-activity">
                <div class="services-activity-card">
                    <fa-icon [icon]="faBullseye"></fa-icon>
                    <h3 class="services-activity-title">Tiro de hacha</h3>
                    <p class="services-activity-description">¡Somos los únicos en Bogotá! Vive una experiencia llena de precisión y adrenalina.</p>
                </div>
            </div>
    
            <div class="services-activity">
                <div class="services-activity-card">
                    <fa-icon [icon]="faCircleDot"></fa-icon>
                    <h3 class="services-activity-title">Bolirana</h3>
                    <p class="services-activity-description">Reta tu puntería y diviértete con este clásico que nunca falla.</p>
                </div>
            </div>
    
            <div class="services-activity">
                <div class="services-activity-card">
                    <fa-icon [icon]="faFire"></fa-icon>
                    <h3 class="services-activity-title">Tejo</h3>
                    <p class="services-activity-description">Disfruta la tradición colombiana con explosión, risas y buena energía.</p>
                </div>
            </div>
    
            <div class="services-activity">
                <div class="services-activity-card">
                    <fa-icon [icon]="faExplosion"></fa-icon>
                    <h3 class="services-activity-title">Máquina de boxeo</h3>
                    <p class="services-activity-description">Mide tu fuerza y compite con tus amigos en el reto más explosivo.</p>
                </div>
            </div>
        </div>
    
        <div class="services-description">
            <p class="description">
                Vive momentos llenos de adrenalina, risas y competencia en un solo lugar. Kaboom es el sitio
                perfecto para celebrar cumpleaños, reunirte con amigos o realizar eventos empresariales.
                Contamos con horarios flexibles y espacios diseñados para recibir hasta 80 personas en eventos
                corporativos.
            </p>
        </div>
    </section>
</app-herovideo>
