<app-herovideo [media]="heroVideoMedia">
    <section class="services-container">
        <div class="services-content">
            <h1 class="title">Nuestros servicios</h1>
            <h2 class="subtitle">
                Descubre todo lo que tenemos para ofrecerte una experiencia inolvidable.
            </h2>
        </div>
    
        <div class="services-cards">
            @for (service of services; track service.image) {
                <div class="services-activity">
                    <div class="services-activity-card" (click)="openModal(service)">
                        <fa-icon [icon]="service.icon"></fa-icon>
                        <h3 class="services-activity-title">{{ service.title }}</h3>
                        <p class="services-activity-description">{{ service.description }}</p>
                    </div>
                </div>
            }
        </div>
    
        <div class="services-description">
            <p class="description">
                Vive momentos llenos de adrenalina, risas y competencia en un solo lugar. Kaboom es el sitio
                perfecto para celebrar cumpleaños, reunirte con amigos o realizar eventos empresariales.
                Contamos con horarios flexibles y espacios diseñados para recibir hasta 80 personas en eventos
                corporativos.
            </p>
        </div>
    </section>
</app-herovideo>
