@use 'vars' as v;
@use 'mixins' as *;
@use 'functions' as *;

.services__grid {
    @include flex-layout(row, center, center, v.$f-gap-md);
    flex-wrap: wrap;
    width: 100%;
}

.services__card-wrapper {
    width: 100%;
    cursor: pointer;
}

.services__card {
    @include neon-card(v.$color-primary, v.$color-primary, true);
    height: 100%;
    padding: calculateRem(32px);
    text-align: center;
    background: v.$color-dark;
    border-radius: v.$f-radius-lg;
    color: v.$color-white;
    transition: all 0.3s ease;

    &:hover {
        @include neon-card(v.$color-accent, v.$color-accent);
        background: v.$color-dark;
    
        .services__card-icon {
            color: v.$color-accent;
            transform: scale(1.2);
        }
    }
}

.services__card-icon {
    @include font-size(v.$f-size-xx-huge);
    color: v.$color-primary;
    margin-bottom: v.$f-gap-tiny;
    transition: all 0.3s ease;
}


.services__card-title {
    @include font-size(v.$f-size-x-large);
    margin-bottom: v.$f-gap-tiny;
    font-weight: v.$f-weight-bold;
}

.services__card-description {
    @include font-size(v.$f-size-small);
    color: v.$color-muted;
    margin-bottom: 0
}

.services__description {
    @include text-style(v.$f-size-base, v.$f-weight-regular, v.$color-muted, 0);
    line-height: v.$f-line-height-relaxed;
    text-align: center;
}

.services__description-text {
    margin-bottom: 0;
}

/* RESPONSIVE */

@include respond(mobile) {
    .services__card-wrapper {
        width: calculateRem(380px);
    }
}